<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Corundum Project est un projet en cours de développement">
    <title>Corundum Project | Boutique</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/shop.css">
    <link rel="icon" href="../assets/img/favicon.png">
</head>
<body>
    <div id="cookies">
        <p>En poursuivant votre navigation sur ce site, vous acceptez l’utilisation de cookies pour vous proposer des contenus et services adaptés à vos centres d’intérêts.</p>
        <button id="accept">J'accepte</button>
    </div>
    <header>
        <nav>
            <a href="#" id="title"><strong>Corundum Project</strong></a>
            <ul>
                <li><a href="../index.html">Accueil</a></li>
                <li><a href="./os.html">Corundum OS</a></li>
                <li><a href="./shop.html">Corundum Shop</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="home">
            <h1>Corundum Shop</h1>
            <p id="homeSpace">La meilleure boutique de logiciels gratuits et open-source.</p>
            <a href="https://corundum-project.github.io/shop" class="button">Accéder à la bêta publique</a>
        </section>
        <section class="content">
            <h2>Simple</h2>
            <p>Naviguez à travers une interface simple et épurée. <strong>Corundum Shop</strong> permet aux utilisateurs de découvrir de nouvelles applications ou de trier par type de logiciels.</p>
        </section>
        <section class="content">
            <h2>Mise en ligne gratuite</h2>
            <p>Mettez en ligne gratuitement votre application en passant par le serveur Discord. Votre application doit être obligatoirement disponible sur GitHub/GitLab (ou plus), doit être gratuite (pour la bêta publique).</p>
            <a href="https://discord.gg/PCsh97652b" class="button">Rejoindre le serveur Discord</a>
        </section>
        <section class="content">
            <h2>Open-source</h2>
            <p>Le code source de <strong>Corundum Shop</strong> est disponible sur <a href="https://github.com/Corundum-project/shop" target="_blank">GitHub</a>. Vous pouvez donc contribuer à l'amélioration de la boutique.</p>
        </section>
        <section class="content">
            <h2>Multi-plateformes</h2>
            <p>Vous pouvez télécharger des logiciels pour diverses plateformes.</p>
        </section>
        <section class="content">
            <h2>Bêta publique</h2>
            <p><strong>Corundum Shop</strong> est toujours en phase de développement. Néanmoins vous pouvez accéder à la bêta publique.</p>
            <a href="https://corundum-project.github.io/shop" class="button">Accéder à la bêta publique</a>
        </section>
        <section class="content">
            <h2>Recrutements</h2>
            <p>Nous recrutons sous forme de bénévolat pour <strong>Corundum Shop</strong>, mais également pour tous les autres produits <strong>Corundum</strong>.</p>
            <a href="https://discord.gg/PCsh97652b" class="button">Rejoindre le serveur Discord</a>
        </section>
    </main>
    <footer>
        <p>Corundum Project &copy; 2023</p>
        <ul>
            <li><a href="https://twitter.com/CorundumTeam" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
            <li><a href="https://instagram.com/CorundumTeam" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="https://discord.gg/PCsh97652b" target="_blank"><i class="fa-brands fa-discord"></i></a></li>
            <li><a href="mailto:corundumteam@gmail.com"><i class="fa-solid fa-envelope"></i></a></li>
            <li><a href="https://github.com/Corundum-project" target="_blank"><i class="fa-brands fa-github"></i></a></li>
        </ul>
    </footer>
    <script src="../assets/js/script.js"></script>
    <script src="https://kit.fontawesome.com/127f7eda6e.js" crossorigin="anonymous"></script>
</body>
</html>